<!doctype html>
<html lang="en">
<head>
    <title>Network Comparator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        function copyText(current) {
            // Get the text field
            let copyText = current.parentElement.previousElementSibling.innerHTML;
            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText);
        }
    </script>
    <style>
        .borderedRow{
            display: flex;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        .borderedColumn{
            border-right: 1px solid black;
            border-left:  1px solid black;
        }
        .redButton{
            color:red;
        }
    </style>
</head>
<body>
<ul>
    {{range $index, $element := .}}
    <li>
            <button data-toggle="collapse" data-target="#{{$element.TxHash}}"  {{ if ne $element.Error ""}} class="redButton" {{ end }} >{{$element.TxHash}}</button>
            <a href="#"><span class="glyphicon glyphicon-copy" onClick=copyText(this)></span></a>
            <div id="{{$element.TxHash}}" class="collapse">
                {{range $k, $v := $element.Differences}}
                <div class="row row-no-gutters borderedRow">
                    <div class="col-lg-4 borderedColumn" style="background-color:lavender;">
                        {{$k}}
                    </div>
                    {{range $j, $jj := $v}}
                    <div class="col-lg-4 borderedColumn" style="background-color:lavender;">
                        {{$jj}}
                    </div>
                    {{end}}
                </div>
                {{end}}
            </div>
    </li>
            {{end}}
</ul>
</body>
</html>